@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');

html, body {
    font-family: roboto;
    font-size: 15px;
    line-height: 1.5 !important;
}

a:link, a:visited, a:hover, a:active, a:focus {
    color: unset;
    text-decoration: none !important;

}

nav a {
    padding: 0 !important;

}

nav {
    background: transparent !important;
    border: none !important;
    margin-bottom: 5px !important;
}

nav li {
    text-align: center;
    margin-right: 5px;
}

.div-header {
    background: #3498db !important;
    padding: 15px 0;
    margin-bottom: 7px;

}

nav li a {
    color: white !important;
}

nav li p {
    margin-bottom: 0;
}

nav li img {
    cursor: pointer;
}

.hotline {
    font-weight: 500;
    color: white;
}

.main-slide-wrapper .slide {
    margin-bottom: 5px;
}

.main-slide-wrapper img {
    display: block;
    width: 100% !important;
    height: auto;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fotorama__nav-wrap {
    display: none;
}

input {
    max-width: 100%;
}

.search-div input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 3px 10px;
    border-radius: 5px;
}

.navbar-brand img {
    margin-right: 40px;
}

/* section */

.tieude-section {
    padding: 10px 15px;
    border: 1px solid #ddd;
    position: relative;
    background: url("../images/bg-tieude.png") no-repeat;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -1px;
    height: 43px;
}

.tieude-section .left {
    float: left;
    font-size: 18px;
    text-transform: uppercase;
    color: white;

}

.tieude-section .right {
    position: absolute;
    right: 5px;

}

.tieude-section .right a {
    color: #999;
}

.tieude-section .middle {
    left: 50%;
    position: absolute;
    font-weight: bold;
    transform: translateX(-40%);
    white-space: nowrap;
}

/* San pham */
.motsanpham {
    border: 1px solid #ddd;
    margin-right: -1px;
    margin-bottom: -1px;
    text-align: center;

    max-width: 340px;
    padding: 15px;
    position: relative;
    float: none;
}

.noidung-section {
    float: left;

    display: flex;
    flex-wrap: wrap;

}

.tieude-sanpham {
    font-weight: 500;
    height: 45px !important;
}

.gia-sanpham {
    color: #c0392b;
    font-weight: 500;
    font-size: 19px;
}

.tragop {
    margin-bottom: 20px;
}

.tragop span {
    color: #c0392b;
}

.btn-muangay {
    background: #e74c3c;

    float: left;
}

.btn-tragop {
    background: #2ecc71;

    float: right;
}

.two-button span {
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    width: 92px;
}

.two-button {
    height: 33px;

}

.inside-motsanpham {
    max-width: 240px;
    /*     border: 1px solid red; */
    margin: 0 auto;
}

.anhquangcao {
    float: left;
    width: 40%;
    padding: 12px;
    display: flex;
    align-items: center;
    padding-top: 50px;

}

.anhquangcao img {
    width: 100%;
    height: auto;
    display: block;

}

.anhquangcao {
    display: none;
}

.tieude-section .middle a {
    color: #d35400;
    margin-right: 10px;
    font-style: italic;
}

.khuyenmai span {
    color: #c0392b;
}

.tintuc img {
    max-width: 100%;
    display: block;
}

.tieude-tin {
    font-weight: 500;
    cursor: pointer;
}

.mottin {
    margin-bottom: 10px !important;
    float: left;
}

.mottin > .col-md-5:first-child {
    border: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
}

.mottin .col-md-7 {
    padding-right: 0;
    text-align: justify;
}

.tintuc.col-md-4 {
    padding-left: 0;
}

.tieude-khuvuc-tintuc {
    color: #1a1a1a;
    text-transform: uppercase;
    font-weight: 500;

    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
    position: relative;
}

.tieude-khuvuc-tintuc:after {
    position: absolute;
    width: 170px;
    height: 4px;
    background: #3498db;
    content: "";
    left: 0;
    bottom: 0;
}

.tieude-footer {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 12px;
}

.footer-wrapper {
    position: relative;
    margin-top: 60px;
    color: white;
    background-color: #3498db;
    padding: 20px 0;
    padding-top: 0;
}

.footer-col-1 span {
    color: transparent;
    width: 25px;
    display: inline-block;
}

.footer-col-1 i {
    /*     margin-right: 6px; */
    font-size: 20px;
    width: 25px;
    transform: translateY(4px);
}

.footer-col-3 i {
    font-size: 35px;
    margin: 0 10px;
}

.div-copyright {
    background-color: #1e587f;
    color: white;
    text-align: center;
    padding: 4px;
    font-weight: 500;
}

.thanhlienhe {
    background: #e67e22;
    color: white;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 15px;
    position: fixed;
    bottom: 0px;
}

.hotlinespan {
    margin-right: 40px;
}

.video-container {
    position: relative;
    width: 100%;

    overflow: hidden;
    /*border:1px solid red;*/
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-div {
    position: relative;
    width: 150px;
    float: none;
    margin: 5px auto;
}

.search-div i {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #999;
    bottom: 7px;
    cursor: pointer;
}

.footet-col {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.footet-col .tieude-footer {
    margin-top: 30px;
}

.thongtin-hienra-khi-hover {
    display: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.motsanpham:hover .thongtin-hienra-khi-hover {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    padding: 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    /*     text-transform: uppercase; */
}

.banner-quangcao {
    margin: 5px 0;
}

.anhquangcao {
    margin-right: -2px;
}

#menu-main-menu li:hover img {
    transform: rotate(360deg) !important;
}

#menu-main-menu li img {
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

#menu-main-menu li span{
  color: white;
    cursor: pointer;
}


/* Trang danh sach san pham */
.breadcrumb-div a{
    color: #2980b9;
}

.breadcrumb-div a:after{
    content: " /";
}

.breadcrumb-div a:last-child:after{
    content: "";
}

.tuychon-timkiem .row{
    background: #ecf0f1;
    padding: 10px 20px;
}

.tuychon-item{
    color: #d35400!important;
    margin-right: 30px;
}

span.timkiem-tieude{
    text-transform: uppercase;
    margin-right: 100px;
}

/* Trang thanh toan thanh cong */
.tieude-trang{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.subtitle-trang{
    text-transform: uppercase;
    text-align: center;
}


.thongtinkhachhang{
    margin-top: 40px;
    margin-bottom: 40px;
}

.thongtinkhachhang p strong:before{
    content: ">> ";
    color: #3498db;
    margin-right: 5px;
}

.bangthongtin thead{
    background:  #3498db;
    color: white;
}

.bangthongtin{
    border-collapse: collapse;
    
}

.bangthongtin td, .bangthongtin th{
    border: 1px solid #ddd;
}

.total{
    text-align: right;
    
}

.total span{
    font-size: 20px;
    font-weight: bold;
    
}
















